.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  max-width: 100vw;
}

.slider-container span {
  font-size: 0.8rem;
}

.slider-container {
  margin-top: 2rem;
}

.slider-container::after,
.radio-container:nth-of-type(2)::after {
  content: "";
  width: 80%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--accent-color);
}

input[type="range"] {
  width: 90%;
  margin: 0.5rem 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--font-color);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 24px;
  width: 15px;
  border-radius: 15px;
  background: var(--accent-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.radio-container {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  max-width: 100vw;
}

.radio-container fieldset {
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  border: none;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-container fieldset label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  width: 7rem;
  height: 3rem;
  transition: background 200ms ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 600px) {
  .radio-container fieldset label {
    width: 5rem;
    height: 2.5rem;
    font-size: .8rem;
  }
}

@media (max-width: 399px) {
  .radio-container fieldset label {
    width: 4rem;
    font-size: .65rem;
  }
}

.radio-container fieldset label:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}
