.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.slider-container span {
  font-size: .8rem;
}

.slider-container:first-of-type {
  margin-top: 2rem;
}

.slider-container:not(:nth-child(4))::after {
  content: "";
  width: 80%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--accent-color);
}

.slider-container:nth-child(4) {
  margin-bottom: 2rem;
}

input[type="range"] {
  width: 90%;
  margin: 0.5rem 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--font-color);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 24px;
  width: 15px;
  border-radius: 15px;
  background: var(--accent-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px;
  border: 1px solid #aaa;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

datalist option {
  display: inline-block;
  position: relative;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.75rem;
}

